# Ignore virtual environment
venv/

migrations/

# General Python ignores
__pycache__/
*.py[cod]
*.pyo

# Ignore environment variables
.env
*.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
